body, html {
  background: #000;
  color: #eee;
  font-size: 18px;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

.valign {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.valign .box {
  width: 50%;
  flex: none;
}

.text-test {
  padding-top: 70px;
  font-size: 24px;
}

/* timerComp */
.timerComp {
  text-align: center;
  margin: 80px auto;
}
.progress {
    transform: rotate(-90deg);
}

.progress__value {
    fill: none;
}

.progress__value {
    stroke: #777;
}
